<div class = "card p-3">
    <%= tweet.body %>
        <div class = "d-flex gap-2">
            <span>
                Likes <%= tweet.likes  %>
            </span>
            <span>
                Retweets <%= tweet.retweets  %>
            </span>
    </div>
</div>
