<div class="d-flex flex-column">
  <h1>Editing Tweet</h1>
  <%= turbo_frame_tag dom_id(@tweet) do %>
    <div class="card card-body p-3">
      <%= render partial: "form", locals: { tweet: @tweet } %>      
      <%= link_to "Cancel", tweet_path(@tweet), class: "btn btn-sm btn-link" %>
    </div>
  <% end %>
</div>